In [1]:
$ apt-get install python3-bs4

SyntaxError: invalid syntax (<ipython-input-1-0bf11d91a1d1>, line 1)

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lxml

Requirement already satisfied: lxml in c:\anaconda\lib\site-packages (4.5.2)Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install html5lib

Requirement already satisfied: html5lib in c:\anaconda\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\anaconda\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\anaconda\lib\site-packages (from html5lib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [7]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [8]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [9]:
# Get the title
title = soup.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [10]:
# Print out the text
text = soup.get_text()

In [14]:
rows = soup.find_all('tr')

In [17]:
for row in rows:
    row_td = row.find_all('td')

In [18]:
type(row_td)

bs4.element.ResultSet

In [19]:
type(rows)

bs4.element.ResultSet

In [23]:
print(row_td[1])

<td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>

In [28]:
mytable=soup.find_all('table',{'class':'wikitable sortable'})

In [30]:
type(mytable)

bs4.element.ResultSet

In [140]:
for row in mytable:
    row_td = row.find_all('td')

type(row_td)

bs4.element.ResultSet

In [35]:
for row in mytable:
    row_tr = row.find_all('tr')

In [39]:
for cols in row_tr:
    row_tg = cols.find_all('th')

In [44]:
header=row_tr[0]

<tr>
<th>Postal Code
</th>
<th>Borough
</th>
<th>Neighbourhood
</th></tr>

In [46]:
column_names =  []
th_tags=row_tr[0].find_all('th')
if len(th_tags) > 0 :
    for th in th_tags:
        column_names.append(th.get_text())

In [47]:
column_names

['Postal Code\n', 'Borough\n', 'Neighbourhood\n']

In [81]:
type(column_names)

list

In [48]:
nrow=len(row_tr)

In [49]:
nrow

181

In [50]:
columns = column_names if len(column_names) > 0 else range(0,n_columns)

In [51]:
columns

['Postal Code\n', 'Borough\n', 'Neighbourhood\n']

In [52]:
 df = pd.DataFrame(columns = columns,
                              index= range(0,nrow))

In [59]:
type(mytable)

bs4.element.ResultSet

In [141]:
row_marker = 0
for row in mytable:
    
    rowtr=row.find_all('tr')
    for eachr in rowtr:
        rowtd=eachr.find_all('td')
        column_marker = 0
        for j in rowtd:
            getval=j.get_text()
            df.iat[row_marker,column_marker]=getval
            column_marker += 1
        row_marker +=1
                   
            
#    columns1 = row.find('td')
#    for column in columns1:
#        df.iat[row_marker,column_marker] = column.get_text()
#        column_marker += 1
#    row_marker +=1

#print(columns1)

In [71]:
type(df)

pandas.core.frame.DataFrame

In [72]:
df.head(5)

  Postal Code\n       Borough\n     Neighbourhood\n
0           NaN             NaN                 NaN
1         M1A\n  Not assigned\n      Not assigned\n
2         M2A\n  Not assigned\n      Not assigned\n
3         M3A\n    North York\n         Parkwoods\n
4         M4A\n    North York\n  Victoria Village\n

In [78]:
df=df.replace(to_replace=r'\n', value=' ', regex=True)

In [79]:
df.head(5)

  Postal Code\n      Borough\n    Neighbourhood\n
0           NaN            NaN                NaN
1          M1A   Not assigned       Not assigned
2          M2A   Not assigned       Not assigned
3          M3A     North York          Parkwoods
4          M4A     North York   Victoria Village

In [93]:
df['Borough\n']=df['Borough\n'].astype(str)

In [99]:
df1=df[(df['Borough\n']!='Not assigned ') &  (df['Borough\n']!='nan')]

In [83]:
indexname

Int64Index([], dtype='int64')

In [85]:
df.drop(indexname , inplace=True)

In [101]:
df1.index

Int64Index([  3,   4,   5,   6,   7,   9,  10,  12,  13,  14,
            ...
            152, 153, 154, 157, 158, 161, 166, 169, 170, 179],
           dtype='int64', length=103)

In [110]:
df1.reindex

<bound method DataFrame.reindex of     Postal Code\n          Borough\n  \
3            M3A         North York
4            M4A         North York
5            M5A   Downtown Toronto
6            M6A         North York
7            M7A   Downtown Toronto
..            ...                ...
161          M8X          Etobicoke
166          M4Y   Downtown Toronto
169          M7Y       East Toronto
170          M8Y          Etobicoke
179          M8Z          Etobicoke

                                       Neighbourhood\n
3                                           Parkwoods
4                                    Victoria Village
5                           Regent Park, Harbourfront
6                    Lawrence Manor, Lawrence Heights
7         Queen's Park, Ontario Provincial Government
..                                                 ...
161     The Kingsway, Montgomery Road, Old Mill North
166                              Church and Wellesley
169  Business reply mail Processing Centre, South C...
170  Old Mill South, King's Mill Park, Sunnylea, Hu...
179  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]>

In [128]:
df1.reset_index(inplace = True)

In [130]:
df1.drop(['index'],axis=1)

,Postal Code\n,Borough\n,Neighbourhood\n
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [139]:
df1.shape

(103, 4)